<% @jobs.each do |job| %>
	<div id='job'>
		<%= link_to job.title, job %>, <em><%= job.org %></em>
	</div>
<% end %>
<% if signed_in? %>
	<div id='job'>
		<div class='right'>
			<%= link_to "Add a new job?", new_job_path %>
		</div>
	</div>
<% end %>