@import "bootstrap";

html { overflow-y: scroll; }
body { padding-top: 60px; }
textarea { resize: vertical; }
h1 { margin-bottom: 30px; }

#main {
    position: absolute;
    top: 80px;
    left: 400px;
    width: 500px;
}